 /*Colors and fonts*/

 body{
 	background:#E1EFF6;
 	color: green;
 	font-family: 'Lora', serif;; 
 	font-size: 16px;
 	font-weight: 500;
 	line-height: 20px;
 }

 h1, h2  {
 	font-family: 'Roboto', sans-serif;
 	color: rgb(79,100,111);
 	letter-spacing: 2.5px;

 }

 h1{
 	font-size: 32px;
 	font-weight: 700;
 	line-height: 40px;
 }

 h2{
 	color: #8E9AAF;
    font-size: 28px;
    font-weight: 500;

 }

 a {
    color: white;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;

 }

 a:hover{
 	color: #F5CCE8;
 }

 ul {
 	color: rgb(79,100,111);
 }

/*Desing container and cards*/

.container {
	width: 700px;
	margin: 20px auto;
	padding: 20px;
	text-align: center;
}

/* responsive examples for responsive in moviles*/
@media (max-width: 760px){
	.container{
		width: 600px;
	}
	
}
@media (max-width: 650px){
	.container{
		width: 450px;
	}
	
}

.card-white{
	background-color: #F5CCE8;
	margin: 20px 20px;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
}
.card-move:hover
{
    box-sizing: border-box;
    background-color:#AED9E0;
    padding: 20px 20px 15px;
    z-index: 9998;
    margin: -20px 50px 10px -30px;
    box-shadow: 0 1px 12px rgba(0,0,0,0.2);
    border-radius: 6px;
}
.img-circle{
	border-radius: 50%;
	box-shadow: 0px 4px 30px rgba(0,0,0,0.1);
	width: 150px;
}
.btm-pink{
	background-color: #8E9AAF;
	border-radius: 4%;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
	width: 150px;
	margin:20px;
	padding:5px;
}

.list-inline{
	list-style:none;
	padding-left: 0px;
}
.list-inline li{
	display: inline;
}
.list-inline a{
	
	
}
.list-inline i{
	font-size: 50px;
	margin: 0px 50px;
}

/*only one ID*/

#presentation{
	margin-bottom: 20px;
}


